nav {
  background-color: rgb(105,105,105);
}

/* header > h1 {
  color: rgb(105,105,105);
} */

/* .jumbotron > h1 {
  color: rgb(0,0,0);
} */

/* .jumbotron {
  background-color: rgb(176, 196, 222);
} */

/* .jumbotron > div {
  background-color: rgb(70,130,180);
} */

/* body {
  background-color: rgb(105,105,105);

} */

/* .container {
  background-color: rgb(105,105,105);
} */


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

img {
  width: 100px; /* Adjust the width to your preference */
  height: 100px; /* Adjust the height to your preference */
}
