/* nav {
  background-color: rgb(105,105,105);
} */

/* header > h1 {
  color: rgb(105,105,105);
} */

/* body {
  background-color: rgb(105,105,105);

} */

/* .container {
  background-color: rgb(105,105,105);
} */


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 10px;
}

